*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-red: #ec2c2c;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-orange: #e9993d;
}
body {
  color: var(--clr-black);
  font-family: Poppins, sans-serif;
  background: linear-gradient(45deg, #ec2c2c, #e9993d);
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--clr-white);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
=================
HEADER
=================
*/

.header {
  margin: 1.5rem 0;
  flex-direction: column;
}
.header > h1 {
  font-size: 40px;
  color: var(--clr-white);
  text-transform: uppercase;
}

.underline {
  width: 2rem;
  border-top: 0.1rem solid var(--clr-white);
}

/* 
=================
ADD TODO
=================
*/

.add-todo {
  display: grid;
  margin: 0 auto;
  max-width: 568px;
  grid-template-columns: 1fr auto auto;

  /* variable */
  --padding: 0.5rem 0.75rem;
}

.add-todo-input {
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  padding: var(--padding);
}

.add-btn,
.clear-btn {
  padding: var(--padding);
}

.add-btn {
  background-color: var(--clr-red);
}

.clear-btn {
  background-color: var(--clr-orange);
}
