*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-bg-1: #212931;
  --clr-bg-2: #1e252d;
  --clr-bg-3: #eeeeee;
  --clr-bg-4: #f5f5f5;

  --clr-txt-1: #212931;
  --clr-txt-2: #ffffff;
  --clr-txt-3: #909498;
  --clr-txt-4: #717981;
  --clr-txt-5: #000000;
  --clr-txt-6: #1e252d;
  --clr-txt-7: #eeeeee;

  --max-width: 1170px;

  --ff-primary: "Source Sans Pro", Helvetica, sans-serif;
  --ff-secondary: Merriweather, Georgia, serif;
}

body {
  font-family: var(--ff-secondary);
  color: var(--clr-txt-1);
  line-height: 38px;
  overflow-x: hidden;

  background-image: url(./assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--clr-bg-1);
  background-blend-mode: overlay;
}
h1,
h2,
h3 {
  font-family: var(--ff-primary);
}

h1 {
  line-height: 80px;
  font-size: 80px;
  color: var(--clr-txt-2);
}
h2 {
  line-height: 70.4px;
  font-size: 64px;
  color: var(--clr-txt-1);
}
h3 {
  line-height: 19.2px;
  font-size: 12.8px;
  color: var(--clr-txt-4);
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}

/* 
===========
HEADER
===========
*/

.header {
  padding: 2rem;
  display: flex;
  row-gap: 1.25rem;
  text-align: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 3.5rem);
}
.header > h1 {
  text-transform: uppercase;
}
.header > p {
  max-width: 700px;
  color: var(--clr-white);
}

.down-btn {
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 1rem;
  border-radius: 50%;
  border: 2px solid white;
}

.floating-menu {
  top: 1rem;
  right: 2rem;
  display: none;
  position: absolute;
  align-items: center;
  color: var(--clr-white);
}
.open-menu-btn {
  color: var(--clr-white);
}
.menu-title {
  font-weight: 600;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-family: var(--ff-primary);
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
  }
  .header > h1 {
    font-size: 3.5rem;
    grid-row-start: 2;
  }
  .header > p {
    grid-row-start: 3;
  }
  .down-btn {
    display: none;
  }
  .floating-menu {
    display: flex;
  }
}

/* 
===========
NAV
===========
*/

.center {
  margin: 0 auto;
  max-width: var(--max-width);
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(144, 148, 152, 0.35);
}
.links {
  display: flex;
  align-items: center;
}

.link {
  line-height: 0;
  color: var(--clr-txt-2);
}
.page-link {
  font-weight: 800;
  padding: 1.75rem;
  font-size: 0.65rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  font-family: var(--ff-primary);
}

.close-menu-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .selected {
    color: var(--clr-bg-1);
    background-color: var(--clr-bg-3);
  }
}
.social-link {
  font-size: 1rem;
  padding-right: 1.75rem;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--clr-bg-3);
  }
  .link {
    color: var(--clr-txt-6);
  }
  .links:first-child {
    flex-direction: column;
    align-items: flex-start;
  }

  .links:last-child {
    margin-top: 2rem;
    justify-content: space-between;
  }

  .page-link {
    width: 100%;
    padding: 1.75rem 0;
    padding-right: 4rem;
    border-bottom: 1px solid var(--clr-txt-3);
  }
  .page-link:last-child {
    border-bottom: none;
  }

  .social-link {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 0.25rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .close-menu-btn {
    display: block;
    top: 1rem;
    right: 2rem;
    font-size: 1rem;
    font-weight: 800;
    position: absolute;
    color: var(--clr-txt-4);
  }
  .open-menu {
    display: flex;
  }
}

/* 
===========
MAIN
===========
*/
.main {
  background-color: var(--clr-bg-3);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item1 {
  grid-area: 1/1/2/3;
}
.item1 > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.border {
  position: relative;
}
.border::before {
  top: 50%;
  content: "";
  width: 90%;
  position: absolute;
  border-bottom: 0.01rem solid rgb(113, 121, 129, 0.25);
}
.right-border {
  left: 10%;
}

.item {
  padding: 2rem;
  display: grid;
  row-gap: 2rem;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  border: 0.01rem solid rgb(113, 121, 129, 0.25);
}

.item-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.25rem;
}
.item1 > .item-heading {
  font-size: 70.4px;
}

.item-desc {
  text-align: justify;
}

.item-img {
  object-fit: cover;
  object-position: center;
  max-height: 300px;
}

.item-full-story-btn {
  width: 100%;
  max-width: 150px;
  padding: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border: 0.1rem solid var(--clr-bg-1);
}

/* 
===========
TABS
===========
*/
.tabs {
  display: flex;
  padding: 2rem;
  justify-content: center;
  border-bottom: 0.01rem solid rgb(113, 121, 129, 0.25);
}
.tab {
  padding: 1rem;
  border: 0.01rem solid rgb(113, 121, 129, 0.25);
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
  .item1 {
    grid-area: 1/1/2/2;
  }

  .item-heading {
    font-size: 1.75rem;
  }
  .item1 > .item-heading {
    font-size: 3rem;
  }
  .item-full-story-btn {
    max-width: 100%;
  }
  .tab {
    display: none;
  }
  .next {
    display: block;
    padding: 1rem 2rem;
  }
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-msg {
  border-right: 0.01rem solid rgb(113, 121, 129, 0.25);
}
.send-msg-form {
  padding: 1rem;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
}

.label,
.send-msg-btn {
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--ff-primary);
}
.send-msg-form > input {
  outline: none;
  padding: 0.5rem;
  background-color: var(--clr-txt-7);
  border: 0.1rem solid rgb(113, 121, 129, 0.25);
}
.send-msg-form > textarea {
  outline: none;
  padding: 0.5rem;
  background-color: var(--clr-txt-7);
  border: 0.1rem solid rgb(113, 121, 129, 0.25);
}

.send-msg-btn {
  padding: 1rem;
  margin-top: 1rem;
  align-self: flex-start;
  border: 0.1rem solid #212931;
}

.contact-address {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  border-left: 0.01rem solid rgb(113, 121, 129, 0.25);
}

.contact-info-container {
  display: grid;
  padding: 1rem 2rem;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  border-top: 0.1rem solid rgb(113, 121, 129, 0.25);
}
.contact-info-container > :last-child {
  color: var(--clr-txt-4);
}

.contact-info-container > .links {
  margin: 0;
  column-gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-info-container > .links .link {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0.25rem;
  border-radius: 50%;
  align-items: center;
  color: var(--clr-txt-4);
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media screen and (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact-info-container {
    padding: 2rem;
  }
  .send-msg-btn {
    align-self: auto;
  }
}

/* 
============
FOOTER
============
*/
.footer {
  display: flex;
  padding: 1rem;
  font-weight: 800;
  font-size: 0.65rem;
  align-items: center;
  flex-direction: column;
  color: var(--clr-txt-4);
  text-transform: uppercase;
  font-family: var(--ff-primary);
  background-color: var(--clr-bg-2);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem;
    column-gap: 1rem;
    flex-direction: row;
    justify-content: center;
  }
}
