*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg-1: #ffffff;
  --clr-bg-2: #f5f6f7;
  --clr-bg-3: #eff1f2;

  --clr-txt-1: #7f888f;
  --clr-txt-2: #3d4449;
  --clr-txt-3: #f56a6a;
  --clr-txt-4: #9fa3a6;
  --clr-txt-5: #000000;

  --ff-primary: "Roboto Slab", serif;
  --ff-secondary: "Open Sans", sans-serif;
}

body {
  display: grid;
  line-height: 24.2px;
  font-size: 14.6667px;
  color: var(--clr-txt-1);
  font-family: var(--ff-secondary);
  grid-template-columns: minmax(0, 300px) 1fr;
}

h1,
h2,
h3 {
  color: var(--clr-txt-2);
  font-family: var(--ff-primary);
}

h1 {
  font-size: 51.3333px;
  line-height: 66.73333px;
}
h2 {
  line-height: 38.5px;
  font-size: 25.6667px;
}
h3 {
  line-height: 27.5px;
  font-size: 18.3333px;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

/* 
==============
ASIDE
==============
*/
.menu {
  min-height: 100vh;
  /* background-color: red; */
}

/* 
==============
SEARCH-BAR
==============
*/
.search-bar-container {
  padding: 1.25rem;
  background-color: rgba(159, 163, 166, 0.1);
}

.search-bar {
  display: grid;
  grid-template-columns: 5fr 1fr;
  --color: rgba(159, 163, 166, 0.3);

  overflow: hidden;
  border-radius: 0.35rem;
  border: 0.1rem solid var(--color);
}

.search-bar > input {
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
  color: var(--clr-txt-1);
}

.search-btn {
  font-size: 1.25rem;
  color: var(--color);
  transform: rotateY(180deg);
  background-color: var(--clr-bg-1);
}
